/* FONT + RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #F3F3F3;
    color: #1F1F1F;
}

header {
    background: #ffffff;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo span {
    color: #0A84FF;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #1F1F1F;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0A84FF;
}

.hero {
    height: 100vh;
    background: linear-gradient(135deg, #0A84FF, #FFC247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 48px;
    color: white;
}

.hero-content span {
    color: #FFC247;
}

.hero-content h3 {
    color: white;
    margin: 15px 0;
}

.hero-content p {
    color: #F3F3F3;
}

.btn-primary {
    margin-top: 25px;
    padding: 12px 25px;
    background: #1F1F1F;
    color: #FFC247;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #FFC247;
    color: #1F1F1F;
}

.section {
    padding: 80px 60px;
    background: #ffffff;
    margin: 40px auto;
    border-radius: 12px;
    width: 90%;
    max-width: 1100px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill-card {
    background: #0A84FF;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}

.skill-card:hover {
    background: #FFC247;
    color: #1F1F1F;
}

.project-card {
    background: #E8E8E8;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    border-left: 6px solid #0A84FF;
}

.report-box {
    background: #E8E8E8;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

.experience-box {
    background: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 30px;
    background: #1F1F1F;
    color: white;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
